---
http_interactions:
- request:
    method: get
    uri: https://portal.opentopography.org/API/otCatalog?API_Key=<OPEN_TOPOGRAPHY_API_KEY>&detail=false&include_federated=false&outputFormat=xml&polygon=-117.5%2C32.5%2C-117.5%2C33.1%2C-116.7%2C33.1%2C-116.7%2C32.5%2C-117.0%2C32.3%2C-117.5%2C32.5&productFormat=Raster
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <Datasets><Dataset>
        <name>Global Ensemble Digital Terrain Model</name>
        <identifier><type>PropertyValue</type><propertyID>opentopoID</propertyID><value>OTSDEM.082025.4326.1</value></identifier>
        <alternateName>GEDTM30</alternateName>
        <url>https://doi.org/10.5069/G9BV7DT1</url>
        <fileFormat>Raster</fileFormat>
        <dateCreated>2025-08-04</dateCreated>
        <temporalCoverage>2006-01-01 / 2015-12-31</temporalCoverage>
        <spatialCoverage>
          <type>Place</type>
          <additionalProperty>
            <type>PropertyValue</type>
            <additionalType>CoordinatesSystem</additionalType>
            <name>Horizontal Coordinates</name>
            <value>WGS84</value>
          </additionalProperty>
          <additionalProperty>
            <type>PropertyValue</type>
            <additionalType>CoordinatesSystem</additionalType>
            <name>Vertical Coordinates</name>
            <value>WGS84 Ellipsoid/EGM2008 Geoid</value>
          </additionalProperty>
          <additionalProperty>
            <type>PropertyValue</type>
            <additionalType>CoordinatesSystem</additionalType>
            <name>EPSG (Vertical)</name>
            <value>3855</value>
          </additionalProperty>
          <additionalProperty>
            <type>PropertyValue</type>
            <additionalType>CoordinatesSystem</additionalType>
            <name>EPSG (Horizontal)</name>
            <value>4326</value>
          </additionalProperty>
          <variableMeasured>
            <type>PropertyValue</type>
            <name>Area</name>
            <value>134468240 km2</value>
          </variableMeasured>
          <variableMeasured>
            <type>PropertyValue</type>
            <name>Unit</name>
            <value>meter</value>
          </variableMeasured>
        </spatialCoverage>
        </Dataset>
        <Dataset>
        <name>GEBCO Global Bathymetry and Topography</name>
        <identifier><type>PropertyValue</type><propertyID>opentopoID</prop[...]
